services:
  migrate:
    build:
      context: .
      target: migrate

  backend:
    build:
      context: .
      target: web
    ports:
      - ${BACKEND__RUN__PORT}:${BACKEND__RUN__PORT}
    depends_on:
      migrate:
        condition: service_completed_successfully
